/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* this if for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }




div.example {
    border: 1px solid green;
    margin: 5px;
}



/** for dyanmic float **/
.row-fluid [class*="span"] {
    margin-left: 0 !important;
}

.content-area {
    padding:10px;
}

.ng-repeat-reorder-parent, [ng-repeat-reorder]{
    z-index: 10;
    position: relative;
}
[ng-repeat-reorder].dragging{
    z-index: 11;
    position: absolute;
}

.active-drag-below {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}