<div class="container">
    <div class="row clearfix">
        <div class="span12 column">
            <button role="button" class="btn btn-primary" ng-click="addTextBlock()">
                <i class="icon-plus"></i>
                &nbsp; Add Text Block
            </button>
            <button role="button" class="btn btn-default" ng-click="addSurvey()">
                <i class="icon-plus"></i>
                &nbsp; Add Survey
            </button>
        </div>
        <hr>
    </div>
    <h4>Survey Picked: {{survey.chosen.name}}</h4>

    <div class="row clearfix content-area">
        <div>
            <!-- | orderBy:list_sort  -->
            <div ng-repeat-reorder="content_block in list track by $index"
                 ng-repeat-reorder-handle="i.icon-move"
                 class="form-group has-feedback transition span{{content_block.span}} example">
                <i class="icon-move drag-handle"></i>&nbsp;
                <select ng-change="setSizer(content_block, sizer.size)" ng-model="sizer" ng-options="size.label for size in sizes" class="span2 select_size">
                    <option value="">- size -</option>
                    <!--<options>--</options>-->
                </select>
                    <ng-include src="view.getView(content_block.type)"></ng-include>
                &nbsp;<i class="icon-remove" ng-click="removeItem(content_block)"></i>
            </div>
        </div>

    </div>
    <div class="row clearfix">
        <h5>Live Data</h5>
        {{ list }}
    </div>
</div>

<script type="text/ng-template" id="surveys.html">
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h3>Choose a Survey to pull in active questions</h3>
        <ul>
            <li ng-repeat-reorder="item in items">
                <a href="" ng-click="selectedSurvey(item)">{{ item.name }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item.name }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>