<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button role="button" class="btn btn-primary" ng-click="addTextBlock()">
                <i class="icon-plus"></i>
                &nbsp; Add Text Block
            </button>
            <button role="button" class="btn btn-default" ng-click="addSurvey()">
                <i class="icon-plus"></i>
                &nbsp; Add Survey
            </button>
        </div>
        <hr>
    </div>
    <h4>Survey Picked: {{survey.chosen.name}}</h4>

    <div class="row clearfix">
        <div ui-on-Drop="onDrop($event,$data,list)" class="col-lg-6">
            <div
                    ng-repeat="chosen_question in survey.chosen_questions track by $index"
                    class="well col-lg-5"
                    ui-draggable="true" drag="survey"
                    on-drop-success="dropSuccessHandler($event,$index,list)">
                <i class="icon-move"></i>&nbsp;
                {{ chosen_question.question }}
                &nbsp;<i class="icon-remove"></i>
            </div>

            <div ng-repeat="content_block in content track by $index"
                 ui-draggable="true" drag="textbox"
                 on-drop-success="dropSuccessHandler($event,$index,list)">
                <i class="icon-move"></i>&nbsp;
                <div ckedit="content_block.value"></div>
                &nbsp;<i class="icon-remove"></i>
            </div>
        </div>
        <div ui-on-Drop="onDrop($event,$data,list2)" class="col-lg-6">
        </div>

    </div>
    <div class="row clearfix">
    </div>
</div>

<script type="text/ng-template" id="surveys.html">
    <div class="modal-header">
        <h3 class="modal-title">Choose the Survey to embed</h3>
    </div>
    <div class="modal-body">

        <ul>
            <li ng-repeat="item in items">
                <a href="" ng-click="selectedSurvey(item)">{{ item.name }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item.name }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>